<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1" >{{title}}</span>
  <a class="navbar-brand" *ngIf="!isLogged()" (click)="LogMeInTest()">Log me in test</a> <!-- Temporaire -->
  <div class="header" *ngIf="isLogged()">
    <a class="navbar-brand" [routerLink]="['/configuration/entreprise']">Configuration</a>
    <a class="navbar-brand" [routerLink]="['/analyse/periode']">Analyse</a>
    <a class="navbar-brand" (click)="Deconnexion()">Deconnexion</a>
  </div>
</nav>

<router-outlet></router-outlet>
